  <!-- MENU ENCABEZADO -->
  <div class="contenedor-header">
    <header>
        <div class="logo">
            <a href="#" aria-label="Inicio">Diego</a>
        </div>
        <nav id="nav" aria-label="Menú principal">
            <ul>
                <li><a href="#sobremi" onclick="seleccionar()">{{'menu.SOBRE MI' | translate}}</a></li>
                <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
                <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                <li><a href="#portfolio" onclick="seleccionar()">{{'menu.PROYECTOS' | translate}}</a></li>
                <li><a href="#contacto" onclick="seleccionar()">{{'menu.CONTACTO' | translate}}</a></li>
            </ul>
        </nav>
        <!--<div class="nav-responsive" onclick="mostrarOcultarMenu()">-->
        <div class="nav-responsive">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-x menu-tablet" aria-label="Abrir menú"></i>
        </div>
    </header>
</div>
<aside class="menu-tablet">
    <nav>
        <ul>
            <li><a class="aFooter" href="#inicio" onclick="seleccionar()">{{"menu.INICIO" | translate}}</a></li>
            <li><a class="aFooter" href="#sobremi" onclick="seleccionar()">{{"menu.SOBRE MI" | translate}}</a></li>
            <li><a class="aFooter" href="#skills" onclick="seleccionar()">SKILLS</a></li>
            <li><a class="aFooter" href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
            <li><a class="aFooter" href="#portfolio" onclick="seleccionar()">{{"menu.PROYECTOS" | translate}}</a></li>
            <li><a class="aFooter" href="#contacto" onclick="seleccionar()">{{"menu.CONTACTO" | translate}}</a></li>
        </ul>
    </nav>
</aside>

<section id="inicio" class="inicio">
    <div class="contenido-banner">
        <h1 class="letter">{{ 'inicio.Hola, soy Diego' | translate }}</h1>
        <div>
            <span class="animacion-titulo">Desarrollador Web</span>
            <span> | </span>
            <span class="animacion-titulo">Especializado en Drupal y Backend Developer</span>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
        <div class="cat">
            <div class="ear ear--left"></div>
            <div class="ear ear--right"></div>
            <div class="face">
                <div class="eye eye--left">
                    <div class="eye-pupil"></div>
                </div>
                <div class="eye eye--right">
                    <div class="eye-pupil"></div>
                </div>
                <div class="muzzle"></div>
            </div>
        </div>
    </div>
</section>


<!-- SECCION SOBRE MI -->
<section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>{{'sobre-mi.Sobre Mi' | translate}}</h2>

        <div class="fila">
            <!-- intereses -->
            <div class="col">
                <p><span>{{'sobre-mi.Infor' | translate}}</span>{{'sobre-mi.Informacion' | translate}}</p>
                <p>{{'sobre-mi.Informacion2' | translate}}</p>
                <p>{{'sobre-mi.Informacion3' | translate}}</p>
                <p>{{'sobre-mi.Informacion4' | translate}}</p>
            </div> 
            <!-- datos personales -->
            <div class="col datos-personales">
                <h3>{{'sobre-mi.Datos Personales' | translate}}</h3>
                <ul>
                    <li>
                        <strong>{{'sobre-mi.Cumpleaños' | translate}}</strong>
                        <span>15/07/1999</span>
                    </li>
                    <li>
                        <strong>{{'sobre-mi.Teléfono' | translate}}</strong>
                        <span>+34 662944881</span>
              
                    </li>
                    <li>
                        <strong>Email</strong>
                        <span>dmr13250@gmail.com</span>
                    </li>
                    <li>
                        <strong>Website</strong>
                        <span>https://eldiegomoreno.netlify.app</span>
                    </li>
                    <li>
                        <strong>{{'sobre-mi.Dirección' | translate}}</strong>
                        <span>Daimiel (C. Real) España</span>
                    </li>
                    <li>
                        <strong>{{'sobre-mi.Cargo' | translate}}</strong>
                        <span>Desempleado</span>
                    </li>
                </ul>
            </div>
           
        </div>
        <div class=" descargar-cv d-flex justify-content-center">
            <a href="{{'sobre-mi.CV' | translate}}" download="CV_DiegoMoreno">
                {{'sobre-mi.Descargar CV' | translate}} <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </a>
        </div>
    </div>
</section>

<!-- SECCION SKILLS -->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <div class="fila">
            <!-- Technical Skill -->
            <div class="col">
                <h3>{{'skills.Technical' | translate}}</h3>
                <div class="skill">
                    <span>Drupal 7,8,9</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Angular</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>C#</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Wordpress</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Javascript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Bootstrap</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Professional Skills -->
            <div class="col">
                <h3>{{'skills.Professional' | translate}}</h3>
                <div class="skill">
                    <span>{{'skills.Comunicacion' | translate}}</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>{{'skills.Equipo' | translate}}</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>{{'skills.Creatividad' | translate}}</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>{{'skills.Dedicacion' | translate}}</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>Curriculum</h2>
        <div class="fila">
            <div class="col izquierda">
                <h3>{{'educacion.Educación' | translate}}</h3>
                <div class="item izq">
                    <h4>DAW</h4>
                    <span class="casa">IES Maestre de Calatrava (C.Real)</span>
                    <span class="fecha">2017 - 2019</span>
                    <p>{{'educacion.DAW' | translate}}</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>Actualmente Realizando Bootcamp Full Stack Open</h4>
                    <p>La Universidad de Helsinki es la Universidad de Ciencias más grande y antigua de Finlandia</p>
                    <p></p>
                    <p>¡Aprende React, Redux, Node.js, MongoDB, GraphQL y TypeScript de una sola vez!
                         Este curso te presentará el desarrollo web Moderno basado en JavaScript. 
                         El objetivo principal es crear aplicaciones de una sola página con ReactJS que utilicen una 
                         API REST creada con Node.js.</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq">
                    <h4>{{"educacion.Certificaciones" | translate}}</h4>
                    <p>C# desde 0: Inicia tu carrera como programador en Udemy 2024.</p>
                    <p>Symfony en Escuela IT 2023.</p>
                    <p>{{"educacion.Google" | translate}}</p>
                    <p>Angular 10 en Imagina Formación 2020.</p>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
            </div>

            <div class="col derecha">
                <h3>{{"experiencia.Experiencia" | translate}}</h3>
                <div class="item der">
                    <h4>Drupal Developer</h4>
                    <span class="casa">Royal Comunicación</span>
                    <span class="fecha">11/2023 - 03/2024</span>
                    <p>Desarrollo de nueva página Web que permite, por ejemplo, información sobre artículos, 
                        tiendas, consultas de cupones, comprar productos
                        - Desarrollo de servicios backend para la obtención eficiente de datos mejorando funcionalidad
                        y accesibilidad del sistema
                        - Creación de nuevos módulos personalizados, por ejemplo, uno dirigido a empleados de 
                        Consum, se registran rutas y proporciona información sobre los nuevos clientes que se han 
                        hecho
                        - Documentación
                        - Maquetación
                        - Llamadas a API REST
                        - Implementación de formularios mediante la técnica BuildForm, garantizando una experiencia 
                        fluida para los usuarios cliente y una fácil gestión para los administradores de sistemas
                        - Creación de nuevos tipos de contenidos, adaptados a las necesidades específicas del cliente 
                        mejorando la flexibilidad del sistema de gestión de contenidos
                        - Integración de temas y diseño responsivo para optimizar la experiencia del usuario
                        - Realización de pruebas en PRE para comprobar que todo funciona después de cada subida</p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>Backend Developer</h4>
                    <span class="casa">Globalcaja</span>
                    <span class="fecha">03/2021 - 11/2023</span>
                    <p>-	Desarrollo de servicios web para extracción de datos
                        -	Diseño e implementación de servicios de extracción de datos altamente eficientes lo que garantiza que los datos solicitados estén disponibles en formato requerido (JSON) para su posterior visualización y utilización del equipo frontend
                        -	Creación de informes con Jasper: empleo de JasperReports para crear, diseñar y modificar informes altamente personalizados que ofrecen información calve a nuestros clientes, procediendo después la prueba en servidor Azure donde se almacenaban y se podía ver el resultado final con datos antes de subirlo a PRE y PRO
                        -	Soporte remoto y técnico para asegurar que nuestros sistemas y aplicaciones funcione de manera óptima y resolviendo problemas de forma inmediata para que el cliente esté satisfecho
                        -	Gestión de migraciones, migración de datos asegurando su transición exitosa de sistemas heredados a soluciones tecnológicas modernas y más eficientes (SQL Server y MySQL)
                        </p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der">
                    <h4>{{"experiencia.PuestoD" | translate}}</h4>
                    <span class="casa">Deltanet S.I.</span>
                    <span class="fecha">10/2019 - 03/2021</span>
                    <p>-	Desarrollo en Drupal 8 de nuevo sitio web para el Ayuntamiento de Benidorm, se trata de un multisite con noticias, información de política, áreas municipales, eventos destacados, prensa, radio, TV, oficinas de rodajes, fondos europeos, etc, tanto backend como frontend para garantizar su funcionalidad y mejor experiencia del usuario
                        -	Llamadas API REST
                        -	Maquetación
                        -	Desarrollo de proyecto en Drupal 7 y 8 para Ayuntamiento de Daimiel, incluyendo pequeñas modificaciones como por ejemplo e-commerce, permite consultas sobre restaurantes, monumentos o comprar entradas para eventos como teatros
                        -	Desarrollo de proyecto en Drupal 7 y 8 para Hospitales HM, sitio web con noticias de salud, coronavirus, investigación, premios, etc
                        -	Desarrollo de proyecto para Edificaciones Caballero, sitio donde se podía realizar la compra o venta y alquiler de edificios, se añadieron nuevos contenidos e imágenes
                        -	Instalación y creación de módulos, formularios, bloques personalizados con la clase extendida FormBase
                        -	Creación de hooks para añadir librerías css/js o hacer borrado
                        -	Instalación de librerías para carrusel como slick o para cookies
                        -	Trabajo con la parte visual (jQuery, Bootstrap, CSS y SASS) para que sea también responsive
                        -	Nuevas características
                        -	Optimización de sitios web
                        -	Empleo de metodología SCRUM
                        </p>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECCION PROYECTOS ANTIGUAMENTE LLAMADA PORTFOLIO -->
<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <h2>{{'menu.PROYECTOS' | translate}}</h2>
        <p class="text-center">Estos son algunos de los proyectos que he realizado a lo largo de este tiempo.</p>
        <h3 class="text-center">Drupal 7, 8</h3>
        <div class="galeria">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slidesDrupal">
                  <div class="slide proyecto">
                    <a href="{{slide.href}}" tabindex="-1" aria-hidden="true" target="_blank" rel="noopener noreferrer">
                        <img [src]="slide.img" alt="{{slide.title}}">
                        <div class="overlay">
                            <h4>{{slide.title}}</h4>
                        </div>
                    </a>
                  </div>
                </div>
            </ngx-slick-carousel>
         </div>
        <h3 class="text-center">Wordpress</h3>
        <div class="galeria">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slidesWordpress">
                  <div class="slide proyecto">
                    <a href="{{slide.href}}" tabindex="-1" aria-hidden="true" target="_blank" rel="noopener noreferrer">
                        <img [src]="slide.img" alt="{{slide.title}}">
                        <div class="overlay">
                            <h4>{{slide.title}}</h4>
                        </div>
                    </a>
                  </div>
                </div>
            </ngx-slick-carousel>
        </div>
        <h3 class="text-center">C# + Angular</h3>
        <div class="galeria">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slidesAngular">
                  <div class="slide proyecto">
                    <a href="{{slide.href}}" tabindex="-1" aria-hidden="true" target="_blank" rel="noopener noreferrer">
                        <img [src]="slide.img" alt="{{slide.title}}">
                        <div class="overlay">
                            <h4>{{slide.title}}</h4>
                        </div>
                    </a>
                  </div>
                </div>
            </ngx-slick-carousel>
         </div>
    </div>
</section>

<!-- SECCION CONTACTO -->
<!--<section id="contacto" class="contacto">
    <div class="contenido-seccion">
        <h2>{{'contacto.Contacto' | translate}}</h2>
        <div class="fila row justify-content-center">
            <-- Formulario -->
            <!--<div id="formulario" class="form-wrapper col d-flex flex-column col-auto">
<form  id="contactoForm" target="_blank" action="https://formsubmit.co/05b883a307378ba3be96d647df752808" method="POST">
  <div class="input-group">
      <input type="text" name="name" required>
      <label for="">{{"contacto.Nombre" | translate}} *</label>
  </div>
  <div class="input-group">
      <input type="email" name="email" required>
      <label for="">{{"contacto.Email" | translate}} *</label>
  </div> 
  <div class="input-group">
      <input type="text" name="asunto" required>
      <label for="">{{"contacto.Asunto" | translate}} *</label>
  </div>
  <div name="mensaje" class="textarea">
    <textarea [placeholder]="'contacto.Mensaje' | translate" name="message" cols="20" rows="3" required></textarea>
  </div>
      <button type="submit" class="btn btn-lg btn-dark btn-block">{{"contacto.Enviar" | translate}}<span _ngcontent-jcb-c2="" class="overlay"></span></button>
      <input type="hidden" name="_subject" value="¡Nuevo envío!">
      <input type="hidden" name="_next" value="http://localhost:4200/">
      <input type="hidden" name="_captcha" value="false">
</form>
            </div>
        </div>
    </div>
</section>
<!-- footer-->
<footer>
    <div class="pt-5" id="contacto">
        <h2>¿Hablamos?</h2>
        <p>Os dejo aquí abajo mis redes sociales para que estemos en contacto.</p>
    </div>
    <div class="redes">
        <a href="mailto:dmr13250@gmail.com" target="_blank" rel="noopener noreferrer" aria-label="Enviar correo a Diego Moreno Rodríguez-Barbero">
            <i aria-hidden="true" class="fa-solid fa-envelope"></i>
        </a>
        <a data-rel='external' href="https://www.linkedin.com/in/el-diego" target="_blank" rel="noopener noreferrer" aria-label="Linkedin de Diego Moreno Rodríguez-Barbero">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a data-rel='external' href="tel:+34 662944881" target="_blank" rel="noopener noreferrer" aria-label="Número de móvil de Diego Moreno Rodríguez-Barbero">
            <i class="fa-solid fa-mobile-screenfa-solid fa-mobile-screen" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/DM13250/DiegoMoreno" target="_blank" rel="noopener noreferrer" aria-label="Github de Diego Moreno Rodríguez-Barbero">
            <img class="git" src="../assets/logos/githubLogo.png" alt="GithubLogotipo"  style="filter: invert(100%);">
        </a>
    </div>
    <div>
        <span class="copyright">Copyright © 2023 Diego Moreno Rodríguez-Barbero</span>
    </div>
</footer>

<div class="floating-button-div">
    <a _ngcontent-wcr-c2="" href="#inicio" class="arriba" aria-label="Flecha que sube hasta el inicio de la web">
        <i _ngcontent-wcr-c2="" class="fa-solid fa-angles-up"></i>
    </a>
  </div>